@media (max-width: 2000px) {
    .box_main {
        width: 30%;
        margin-left: 35%;
    }

}

@media (max-width: 1120px) {
    .hero_area {
        height: auto;
    }

    .slider_section .custom_carousel-control .carousel-control-prev {
        top: 50%;
        left: 1%;
        margin-top: 5px;
    }

    .slider_section .custom_carousel-control .carousel-control-next {
        top: 50%;
        right: 1%;
        margin-top: 5px;
    }

    .box_main {
        width: 50%;
        margin-left: 28%;
    }
    .price-big{
        margin-left: 38%;
    }
}

@media (max-width: 992px) {

    .custom_nav-container .nav_search-btn {
        background-position: center;
    }

    .service_section .card-deck {

        flex-direction: column;

    }

    .service_section .card-deck .card {
        margin-bottom: 25px;
    }

    .hero_area {
        height: auto;
    }

    .slider_section .custom_carousel-control {

        position: absolute;
        top: 100%;
        left: 50%;
        width: 105px;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;

    }

    .box_main {
        width: 50%;
        margin-left: 28%;
    }
    .price-big{
        margin-left: 33%;
    }
}

@media (max-width: 920px) {
    .contact1_section {
        background-image: none;
    }

    .box_main {
        width: 50%;
        margin-left: 25%;
    }
    .price-big{
        margin-left: 33%;
    }
}

@media (max-width: 768px) {

    .slider_img-box {

        width: 85%;
        margin: 65px auto;

    }

    .slider_section .custom_carousel-control {

        position: absolute;
        top: 100%;
        left: 50%;
        width: 105px;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;

    }

    .fruit_section .fruit_detail-box {

        margin-bottom: 40px;
        text-align: center;

    }

    .fruit_detail-box > div {

        display: flex;
        justify-content: center;

    }

    .contact_section {
        background-size: 105px;
    }

    .contact_section input {

        background-color: transparent;

    }

    .info_section .col-md-3 {
        text-align: center;
    }

    .info_section .col-md-3:not(:nth-last-child(1)) {
        margin-bottom: 35px;
    }

    .tasty_section h2 {
        font-size: 80px;
    }

    .tasty_section h2 span {
        font-size: 80px;
    }

    .about_section h2 {

        font-size: 80px;
    }

    .product_section h2 {

        font-size: 80px;
    }


    .contact_section .contact_box {
        width: 95%;
    }

    .slider_item-detail h1 {

        margin-top: 15px;
    }

    .contact_section .contact_form-container {
        margin-bottom: 35px;
    }

    .contact_section .contact_box input {
        width: 100%;
    }
    .box_main {
        width: 70%;
        margin-left: 25%;
    }
    .price-big{
        font-weight: 300;
        margin-left: 33%;
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .slider_item-container .slider_item-detail {

        text-align: center;

    }

    .slider_item-container .slider_item-detail .d-flex {

        justify-content: center;

    }

    .slider_item-detail h1 {

        margin-top: 40px;
    }

    .tasty_section h2 {

        font-size: 60px;
    }

    .tasty_section h2 span {
        font-size: 60px;
    }

    .about_section h2 {

        font-size: 60px;
    }

    .product_section h2 {

        font-size: 60px;
    }

    .hero_area {
        height: auto;
    }
    .box_main {
        width: 60%;
        margin-left: 22%;
    }
    .price-big{
        margin-left: 25%;
    }
}

@media (max-width: 480px) {
    .about_section {
 width: auto;
    height: auto;
    }
    .hero_area {
        height: auto;
    }
    .about_section h2 {

        font-size: 50px;
    }

    .product_section h2 {

        font-size: 50px;
    }

}

@media (max-width: 400px) {
    .hero_area {
        height: auto;
    }

    .tasty_section h2 {

        font-size: 50px;
    }

    .tasty_section h2 span {
        font-size: 50px;
    }
    .about_section h2 {

        font-size: 35px;
    }

    .product_section h2 {

        font-size: 35px;
    }
}

@media (max-width: 360px) {
    .hero_area {
        height: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
